<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <title>登录页/login</title>
        <link rel="stylesheet" type="text/css" href="login.css" />
        <link rel="stylesheet" href="../../../resourse/fontawesome-free-5.14.0-web/css/all.min.css" />
    </head>

    <body class="bodyimg">
        <div class="bodyflex" id="mypage">
            <div>
                <img class="logoimg" src="../../../images/logo.png">
            </div>
            <div class="titlestyle">AI证件照系统为图文快印店增值、便利</div>
            <div class="inputbox">
                <span class="span"></span>
                <input class="inputstyle" placeholder="账户" v-model="username">
            </div>
            <div class="inputbox">
                <span class="span"></span>
                <input class="inputstyle" placeholder="密码" type="password" v-model="password">
            </div>
            <button class="button" @click="login">登录</button>
        </div>
        <!--引入vue.js数据渲染引擎-->
        <script src="../../../lib/vue.min.js"></script>
        <!--引入后端交互工具-->
        <script src=""></script>
        <!--引入公共JS代码-->
        <script src="../../../app.js"></script>
        <!--本页JS代码-->
        <script src="login.js"></script>
    </body>

</html>
